.bg-secondary {
    background-color: #E76100 !important
}

.btn-secondary {
    background-color: #E76100 !important
}


.btn-success {
    background-color: #0069A6 !important
}

.btn-primary {
    background-color: #607697 !important
}